@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

.hide {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
h4 {
  text-align: center;
}
.collection a.collection-item {
  color: #0091ea;
}
